#header {height: 41px;}
#header .logo{float: left;}
#header .logo .game{display: block;background: url(../飞车imgs/top.jpg) 0 -43px no-repeat;width: 230px;
height: 41px;cursor: pointer;}
#header .logo .number{display: block;background: url(../飞车imgs/top.jpg) 0 -85px no-repeat;width: 230px;
height: 41px;cursor: pointer;}
#header .return{display: block;background: url(../飞车imgs/top.jpg) 0 -137px;width: 96px;height: 21px;font-size: 14px;margin-top: 11px;line-height: 14px;text-align: right;cursor: pointer;}
#header .return a{margin-right: 8px;}
#header .return a:hover{color: #0096D0}
#header i{width: 1px;height: 42px;margin: 0 10px 0 10px;background-color: #bfc6d7;display: block;}
#header .download{font-size: 12px;display: block;margin-top: 14px;cursor: pointer;}
#header .download:hover{color: #0096D0;}
#nav{height: 90px;background-color: #0e0e0e;}
#nav .list{height: 90px;clear: both;cursor: pointer;}
#nav .list li{float: left;color: #ffffff;height: 100%;display: block;text-align: center;width: 165px;box-sizing: border-box;border-left: 1px solid #2e2c2a;padding-top: 15px;position: relative;}
#nav .list li strong{font-size: 18px;line-height: 34px;display: block;}
#nav .list li a{font-size: 12px;color: #ffffff;display: block;}
#nav .list li em{width: 18px;height: 20px;position: absolute;display: block;background: url(../飞车imgs/nav_sp.png) -137px -183px;left: 73px;top: 62px;animation: fadeInDown .6s .3s ease both;display: none;}
#nav .list .logo{display: block;background: url(../飞车imgs/nav_sp.png) 0 -168px no-repeat;width: 101px;height: 73px;margin: 8px 38px 0 34px;border: none;float: left;}
#nav .list .last{font-weight: normal;width: 184px;padding: 8px 0 0 23px;float: left;height: 90px;box-sizing: border-box;color: #ffffff;border-left: 1px solid #2e2c2a;}
#nav .list .last span{display: block;width: 128px;height: 32px;border: 1px solid #ffffff;line-height: 30px;
text-align: center;border-radius: 20px;margin-bottom: 6px;box-sizing: border-box;padding-left: 20px;position: relative;}
#nav .list .last span.offic em{display: block;width: 18px;height: 16px;background: url(../飞车imgs/nav_sp.png) -147px -101px no-repeat;position: absolute;left: 12px;top: 7px;}
#nav .list .last span.download em{display: block;width: 15px;height: 15px;background: url(../飞车imgs/nav_sp.png) -129px -103px no-repeat;position: absolute;left: 14px;top: 9px;} 
#nav .list li:hover{background: url(../飞车imgs/btn.gif) no-repeat;padding-top: 10px;}
#nav .list li:hover strong{animation: fadeInDown .6s ease both;background: url(../飞车imgs/line2.png) no-repeat 50% bottom;}
#nav .list li:hover a{animation: fadeInDown .6s .2s ease both;}
#nav .list li:hover em{display: block;}
#nav .list .last span:hover{color: #ff5a00;border: 1px solid #ff5a00;}
#nav .list .last span:hover a{display: block; animation: .5s fadeRight;}
#nav .list .last span.offic:hover em{background-position:-147px -138px;animation: .5s fadeInDown;}
#nav .list .last span.download:hover em{background-position:-129px -140px;}
#section .section1{background: url(../飞车imgs/bg01.jpg) no-repeat center 0;height: 400px;}
#section .section2{background: url(../飞车imgs/bg02.jpg) no-repeat center 0;height: 400px;padding-top: 280px;box-sizing: border-box;}
#section .section2 a{display: block;width: 293px;height: 69px;background: url(../飞车imgs/spr2.png) no-repeat -10px -10px;margin: 0 auto;transition: all 1s;position: relative;}
#section .section2 a:hover{transform: scale(1.05);cursor: pointer;}
#section .section2 a span{font-size: 12px;background-color: white;color: black;padding: 2px;
position: absolute;width: 72px;left: 120px;top: 20px;display: none;}
@keyframes fadeInDown{
    0%{transform: translateY(-3px);opacity: .2;}
    100%{transform: translateY(0px);opacity: 1;}
}
@keyframes fadeRight{
    0%{transform: translateX(4px);opacity: .2;}
    100%{transform: translateX(0px);opacity: 1;}
}


#section .section3 {background: url(../飞车imgs/bg03.jpg) no-repeat center 0;height: 1500px;box-sizing: border-box;padding-top: 100px;}
#section .section3 .t1{background: url(../飞车imgs/t1.png) no-repeat center 0;height: 127px;display: block;}
#section .section3 nav{height: 67px;margin-top: 50px;}
#section ul{height: 100%;list-style: none;width: 1225px;margin: 0 auto;font-size: 22px;font-weight: bold;font-style: italic;color: #f8dcbd;height: 67px;}
#section ul li{width: 245px;height: 67px;background: url(../飞车imgs/spr2.png) no-repeat -10px -168px;float: left;line-height: 67px;text-align: center;}
#section ul li:hover{background-position: -10px -90px;color: #000;}
#section ul li:hover span i{background-position: -317px -240px;}
#section ul li.active{background-position: -10px -90px;color: #000;}
#section ul li.active span i{background-position: -317px -240px;}
#section ul li span{display: inline-block;position: relative;}
#section .pic_dec{display: none;}
#section .pic_dec strong{font-size: 24px;color: #ffc37c;display: block;line-height: 40px;font-weight: normal;}
#section ul li span i {display: block;background: url(../飞车imgs/spr2.png) no-repeat -333px -240px;width: 7px;height: 11px;position: absolute;right: -20px;top: 30px;}
#section .section3 #ul_2{width: 980px;margin-top:0px;margin-top: 80px;}
#section .section3 .pic_box{background: url(../飞车imgs/box1.png) no-repeat center 0 ;height: 631px;z-index: 10;margin-top: 40px;display: flex;justify-content: center;align-items: center;}
#section .section3 .pic_box img{display: none;}
#section .section3 .pic_dec{font-size: 16px;color: #ffffff;height: 30px;text-align: center;line-height: 40px;}
#section .section3 .t2{background: url(../飞车imgs/t2.png) no-repeat center 0;height: 127px;display: block;margin-top: 140px;}




#section .section4 {background: url(../飞车imgs/bg04.jpg) no-repeat center 0;height: 3000px;box-sizing: border-box;padding-top: 40px;}
#section .section4 .pic_box{background: url(../飞车imgs/box1.png) no-repeat center 0 ;height: 631px;display: flex;justify-content: center;align-items: center;}
#section .section4 .pic_box img{display: none;}
#section .section4 .pic_dec{font-size: 16px;color: #ffffff;height: 20px;line-height: 80px;text-align: center;}
#section .section4 .t3{background: url(../飞车imgs/t3.png) no-repeat center 0;height: 127px;display: block;margin-top: 200px;}
#section .section4 #ul_3{width: 980px;margin-top:60px;}
#section .section4 #pic_3{margin-top: 60px;}
#section .section4 #ul_4{width: 490px;margin-top: 60px;}
#section .section4 .t4{background: url(../飞车imgs/t4.png) no-repeat center 0;height: 127px;display: block;margin-top: 200px;}
#section .section4 #pic_4{margin-top: 60px;}
#section .section4 #pic_4 .origin{display: none;}
#section .section4 div.pic_dec strong{display: block;color: #ffc37c;font-size: 24px;font-weight: normal;height: 70px;margin-top: 20px;}
#section .section4 div.pic_dec p{line-height: 26px;}




#section .section5 {background: url(../飞车imgs/bg05.jpg) no-repeat center 0;height: 3000px;box-sizing: border-box;padding-top: 200px;}
#section .section5 .t5{background: url(../飞车imgs/t5.png) no-repeat center 0;height: 127px;display: block;}
#section .section5 #ul_5{width: 980px;margin-top:60px;}
#section .section5 .pic_box{background: url(../飞车imgs/box1.png) no-repeat center 0 ;height: 631px;display: flex;justify-content: center;align-items: center;}
#section .section5 .pic_box img{display: none;}
#section .section5 #pic_5{margin-top: 100px;}
#section .section5 .pic_dec{text-align: center;color: white;margin-top: 30px;}
#section .section5 .t6{background: url(../飞车imgs/t6.png) no-repeat center 0;height: 127px;display: block;margin-top: 200px;}
#section .section5 #ul_6{width: 735px;margin-top:60px;font-size: 22px;}
#section .section5 #ul_6 li{padding-right: 22px;box-sizing: border-box;}
#section .section5 .pic_box{background: url(../飞车imgs/box1.png) no-repeat center 0 ;height: 631px;display: flex;justify-content: center;align-items: center;}
#section .section5 .pic_box img{display: none;}
#section .section5 #pic_6{margin-top: 80px;}
#section .section5 .pic_dec{text-align: center;color: white;margin-top: 30px;}
#section .section5 .t7{background: url(../飞车imgs/t7.png) no-repeat center 0;height: 127px;display: block;margin-top: 160px;}
#section .section5 #ul_7{width: 735px;margin-top:80px;font-size: 22px;}




#section .section6 {background: url(../飞车imgs/bg06.jpg) no-repeat center 0;height: 3000px;box-sizing: border-box;}
#section .section6 .car{display: none;}
#section .section6 .t8{background: url(../飞车imgs/t8.png) no-repeat center 0;height: 127px;display: block;margin-top: 40px;}
#section .section6 #ul_8{width: 980px;margin-top:40px;font-size: 22px;}
#section .section6 #pic_8{margin-top: 40px;}
#section .section6 .pic_box{background: url(../飞车imgs/box1.png) no-repeat center 0 ;height: 631px;display: flex;justify-content: center;align-items: center;}
#section .section6 .pic_box img{display: none;}
#section .section6 .pic_dec{text-align: center;color: white;margin-top: 30px;}
#section .section6 .t9{background: url(../飞车imgs/t9.png) no-repeat center 0;height: 127px;display: block;margin-top: 40px;}
#section .section6 #ul_9{width: 735px;margin-top:60px;font-size: 22px;}
#section .section6 #pic_9{margin-top: 40px;}
#section .section6 .t10{background: url(../飞车imgs/t10.png) no-repeat center 0;height: 127px;display: block;margin-top: 100px;}

#section .section7 {background: url(../飞车imgs/bg07.jpg) no-repeat center 0;height: 752px;box-sizing: border-box;padding-top: 10px;}

#section .section7 .page10-st{height: 52px;font-size: 28px;line-height: 52px;color: #ffc37c;text-align: center;position: relative;width: 520px;display: block;margin: 0 auto;}
#section .section7 .page10-st strong:after{content: '';display: block;width: 153px;height: 19px;background: url(../飞车imgs/tl.png) no-repeat ;position: absolute;top: 20px;z-index: 999;}
#section .section7 .page10-st strong:before{content: '';display: block;width: 153px;height: 19px;background: url(../飞车imgs/tl.png) no-repeat ;position: absolute;top: 20px;z-index: 999;right: 0px;}
#section .section7 .page10-text {font-size: 16px;color: #ffffff;text-align: center;margin-top: 12px;line-height: 30px;
margin-bottom: 42px;}
#section .afooter{width: 100%;height: 100px;background: #000;font-size: 12px;text-align: center;color: #ffffff;padding-top: 35px;}
#section .afooter P{line-height: 18px;}

.swiper-container{width: 1323px;height: 631px;position: relative;}
.swiper-container .swiper-slide{position: relative;}
.swiper-container .spr{width: 48px;height: 95px;display: inline-block;background: url(../飞车imgs/spr2.png) no-repeat; position: absolute;z-index: 999;}
.swiper-container .btn_prev{background-position: -317px -10px;top: 50%;}
.swiper-container .btn_next{background-position: -317px -120px;top: 50%;right: 0px;}
.swiper-container .swiper-pagination .swiper-pagination-bullet{display: inline-block;width: 30px;height: 17px;margin: 0 7px;background: url(../飞车imgs/spr2.png) -310px -261px no-repeat;border-radius: 0%;}
.swiper-container .swipe-pagination .swiper-pagination-bullet-active{background-position: -271px -261px;color: #000000;}